
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    height: 100%;

    .leftSide, .rightSide {
        color: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}